include ../mixins/_seo
include ../mixins/_nav
include ../mixins/_header
include ../mixins/_post-body

doctype html
include ../includes/_ie-conditional-comments
+seo(entry.seoTitle, entry.seoDescription, entry.image.fields.file.url, entry.image.fields.file.details.image.width, entry.image.fields.file.details.image.height)
include ../includes/_head
  
  body(id='post')
  
    .master-wrapper
      div(
        class='master parallax'
        data-img-mobile='#{asset(entry.imageMobile)}'
        style='background-image:url(#{asset(entry.image)})'
        data-test= (entry.image.fields.file)
      )
        +nav()
        +header('yellow')
        include ../includes/_post-head 
    .content
      .container
        .row
          .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            != marked(entry.content, { renderer: renderer })
            include ../includes/_newsletter-subscribe
    .container
      include ../includes/_footer
  include ../includes/_social-icons.svg
  include ../includes/_facebook-pixel