extends ./_layouts/_default-no-page-wrap

block content
  .container.content-wrapper
    .content
      h1= contentful.index[0].hero[0].fields.title
      if contentful.index[0].cta[0].fields
        a(href='/#{contentful.index[0].cta[0].fields.slug}' class='btn-link')= contentful.index[0].cta[0].fields.title
      .bgvid-wrapper
        video(
          autoplay
          loop
          muted
          class='bgvid'
        )
          <!-- make this content managed -->
          <!-- HD 720p (1280x720 / 4MB) = profile 113 -->
          <!-- HD 1080p (1920x1080 / 10MB) = profile 119 -->
          source(
              src='https://player.vimeo.com/external/358109973.hd.mp4?s=0028ed6159a026b84cc34eed6b6160d336c29429&profile_id=175'
              type='video/mp4'
          )
  .span.scrolltomain

  main
    section#media-player.is-hidden
      .media-player__wrapper
        .media-player__btn-close
        .media-player__panel
          iframe(id='iframe' src='' allowfullscreen='allowfullscreen')

    section.media-gallery
      h2.h1.media-gallery__h2= contentful.featVideo[0].heroTitle
      p.media-gallery__copy= contentful.featVideo[0].copy 
      .media-gallery__grid-wrap

        - for video, i in contentful.featVideo[0].featuredVideo
          
          .media-gallery__panel(style='background-image: url(#{contentful.featVideo[0].featuredVideo[i].fields.backgroundImage.fields.file.url})')
            .panel__anchor(data-vimeo='#{contentful.featVideo[0].featuredVideo[i].fields.vimeoId}')
              h3.panel__title= contentful.featVideo[0].featuredVideo[i].fields.title 
              h3.panel__title.panel__title--secondary= contentful.featVideo[0].featuredVideo[i].fields.copy

    section.awards.flex
      .awards__flex-wrapper.flex-wrapper
        .award-panel.flex
          // figure.award-panel__figure
          img.award-panel__img(src='/img/Emmy-Award-Stencil-thumb.png')
          p.h1.award-panel__counter(data-total='#{contentful.index[0].awards[0].fields.quantity}')= contentful.index[0].awards[0].fields.quantity

        .award-panel.flex
          // figure.award-panel__figure
          img.award-panel__img(src='/img/addy-black.png')
          p.h1.award-panel__counter(data-total='#{contentful.index[0].awards[1].fields.quantity}')= contentful.index[0].awards[1].fields.quantity

    section.process

      h2.h1.process__h2= contentful.index[0].homepageQuadrant.fields.title

      .process__grid-wrapper.flex-wrapper

        .graphic
          svg.process-quad(data-order='0' id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 196.93 196.93")
            title elm-process-quad
            path.cls-1(d="M32.92,196.93a184,184,0,0,1,164-161.77V0C92.32,9,9,92.32,0,196.93Z")
          svg.process-quad(data-order='1' id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 196.93 196.93")
            title elm-process-quad
            path.cls-1(d="M32.92,196.93a184,184,0,0,1,164-161.77V0C92.32,9,9,92.32,0,196.93Z")
          svg.process-quad(data-order='3' id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 196.93 196.93")
            title elm-process-quad
            path.cls-1(d="M32.92,196.93a184,184,0,0,1,164-161.77V0C92.32,9,9,92.32,0,196.93Z")
          svg.process-quad(data-order='2' id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 196.93 196.93")
            title elm-process-quad
            path.cls-1(d="M32.92,196.93a184,184,0,0,1,164-161.77V0C92.32,9,9,92.32,0,196.93Z")

        - for item, i in contentful.index[0].homepageQuadrant.fields.quadrantItem

          .process__panel(data-order=i)
            h3.h3.process__panel-header= contentful.index[0].homepageQuadrant.fields.quadrantItem[i].fields.title
            p.process__panel-content= contentful.index[0].homepageQuadrant.fields.quadrantItem[i].fields.body

    section.clients
      h2.clients__header= contentful.homepageClientList[0].hero 

      .clients__flex-wrapper

        - for client, i in contentful.homepageClientList[0].clients

          .clients__figure
            img(src='#{contentful.homepageClientList[0].clients[i].fields.homepageLogo.fields.file.url}')


        //- .clients__figure
        //-   img(src='/img/client-logos/Microsoft-logo_rgb_c-grey-140.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/MCCANN-grey-90.jpg')
        //- .clients__figure
        //-   img(src='/img/client-logos/UA-grey-128.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/audi-cars-logo-emblem-grey-120.jpg')
        //- .clients__figure
        //-   img(src='/img/client-logos/AECF-grey-128.jpg')
        //- .clients__figure
        //-   img(src='/img/client-logos/JHU-grey-134.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/NG-grey-140.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/DISCOVERY-CHANNEL-grey-140.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/primary-signature-grey-90.jpg')
        //- .clients__figure
        //-   img(src='/img/client-logos/UMMC-grey-140.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/usnaaa-logo-200x200-grey.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/Visit_Baltimore_Logo_Vertical-grey-120.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/WEINBERG-Logo-Stacked.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/aspire-logo-inverse-grey-128.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/ASTRA-ZENECA-grey-140.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/Best-grey-100.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/BOSTON-CHILDRENS-HOSPITAL-.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/CAPE-COD-grey-100.jpg')
        //- .clients__figure
        //-   img(src='/img/client-logos/DCU-grey-80.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/gkv_2012_logo-grey-87.png')
        //- .clients__figure
        //-   img(src='/img/client-logos/PANDORA-grey-140.png')

    section.contact
      .contact__hero
        a.btn.contact__cta(href='/contact') let's get started
        
    script(src='/js/media-player.js' type='text/javascript')
    script(src='/js/process-graphic.js' type='text/javascript')
    script(type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false")
    script(type="text/javascript" src="/js/mailchimp-popup.js")