extends ./_layouts/_default

block content
  .container.content-wrapper
    .content
      h1= contentful.index[0].hero[0].fields.title
      a(href='/#{contentful.index[0].cta[0].fields.slug}', class='btn-link')= contentful.index[0].cta[0].fields.title
      .bgvid-wrapper
        video(
          autoplay
          loop
          class='bgvid'
          poster='/img/home-poster-720.jpg'
        )
          <!-- HD 720p (1280x720 / 4MB) = profile 113 -->
          <!-- HD 1080p (1920x1080 / 10MB) = profile 119 -->
          source(
              src='http://player.vimeo.com/external/127081550.hd.mp4?s=69fb39f69e6917bbf479235687a33f23&profile_id=113'
              type='video/mp4'
          )

block footer
  script(
    src='http://recognitionmedia-production.s3.amazonaws.com/Content/pv/roadblock.js'
    data-id='30750'
    data-url='2017/film-video/branded-entertainment/documentary-branded'
    data-display-rank='0'
    data-category='Documentary (Branded)'
    id='webby-pv-roadblock'
  )