- var page = helpers.getPageName(_path)
include ./mixins/_seo
include ./mixins/_nav
include ./mixins/_header
include ./mixins/_vimeo-player

doctype html
include ./includes/_ie-conditional-comments
+seo(title, description, page)
include ./includes/_head
  
  body(id= page)
    +nav(page)
    +header('yellow')
    .container
      +vimeo-player(140809160)
      .filter
        a.btn-link.active(data-filter='*') All
        a.btn-link(data-filter='.case-study') Case Studies
        a.btn-link(data-filter='.video') Videos
      .work-index
        - for p in contentful.projects
            if p.isCaseStudy
              .case-study-master.work-item.case-study(
                data-href='work/#{p.isCaseStudy.fields.permalink}'
                data-category='case-study'
                data-img-sm= p.isCaseStudy.fields.bandImageSm.fields.file.fileName
                data-img-md= p.isCaseStudy.fields.bandImageMd.fields.file.fileName
                style='background-image:url(#{p.isCaseStudy.fields.bandImage.fields.file.url})'
              )
                .case-study-panel
                  header
                    h1
                      span= p.isCaseStudy.fields.client[0].fields.title
                  h2= p.isCaseStudy.fields.title
                  a(href='work/#{p.isCaseStudy.fields.permalink}') View Case Study
            else 
              a.work.work-item.video(
                data-category='video'
                href='work/#{p.isVideo.fields.permalink}'
                alt= p.isVideo.fields.title
                style='background-image:url(#{p.isVideo.fields.thumbnail.fields.file.url})'
              )
                span= p.isVideo.fields.hoverText
      include ./includes/_footer
  include ./includes/_social-icons.svg