// it ain't pretty, but has to do for now

mixin seo(title, description, page)
  if page
    case page
        when 'index'
          title= contentful.meta[0].seoTitle 
          meta(name='description', content= contentful.meta[0].seoDescription)
        when 'blog'
          title= contentful.meta[1].seoTitle 
          meta(name='description', content= contentful.meta[1].seoDescription)
        when 'work'
          title= contentful.meta[2].seoTitle 
          meta(name='description', content= contentful.meta[2].seoDescription)
        when 'about'
          title= contentful.meta[3].seoTitle 
          meta(name='description', content= contentful.meta[3].seoDescription)
        when 'contact'
          title= contentful.meta[4].seoTitle 
          meta(name='description', content= contentful.meta[4].seoDescription)
        when 'terms'
          title= contentful.meta[5].seoTitle 
          meta(name='description', content= contentful.meta[5].seoDescription)
        when 'privacy'
          title= contentful.meta[6].seoTitle 
          meta(name='description', content= contentful.meta[6].seoDescription)
        when 'animation'
          title= contentful.meta[7].seoTitle 
          meta(name='description', content= contentful.meta[7].seoDescription)
        when 'culture'
          title= contentful.meta[8].seoTitle 
          meta(name='description', content= contentful.meta[8].seoDescription)
        when 'gear'
          title= contentful.meta[9].seoTitle 
          meta(name='description', content= contentful.meta[9].seoDescription)
        when 'method'
          title= contentful.meta[10].seoTitle 
          meta(name='description', content= contentful.meta[10].seoDescription)
        when 'news'
          title= contentful.meta[11].seoTitle 
          meta(name='description', content= contentful.meta[11].seoDescription)
        when 'road'
          title= contentful.meta[12].seoTitle 
          meta(name='description', content= contentful.meta[12].seoDescription)
  else
    title= title
    meta(name='description', content= description)