// it ain't pretty, but has to do for now

mixin seo(title, description, page)
  if page
    case page
        when 'index'
          title= contentful.index[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.index[0].meta.fields.seoDescription)
        when 'blog'
          title= contentful.blog[0].meta.fields.seoTitle
          meta(name='description', content= contentful.blog[0].meta.fields.seoDescription)
        when 'work'
          title= contentful.work[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.work[0].meta.fields.seoDescription)
        when 'about'
          title= contentful.about[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.about[0].meta.fields.seoDescription)
        when 'contact'
          title= contentful.contact[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.contact[0].meta.fields.seoDescription)
        when 'terms'
          title= contentful.terms[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.terms[0].meta.fields.seoDescription)
        when 'privacy'
          title= contentful.privacy[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.privacy[0].meta.fields.seoDescription)
        when 'animation'
          title= contentful.animation[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.animation[0].meta.fields.seoDescription)
        when 'culture'
          title= contentful.culture[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.culture[0].meta.fields.seoDescription)
        when 'gear'
          title= contentful.gear[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.gear[0].meta.fields.seoDescription)
        when 'method'
          title= contentful.method[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.method[0].meta.fields.seoDescription)
        when 'news'
          title= contentful.news[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.news[0].meta.fields.seoDescription)
        when 'road'
          title= contentful.road[0].meta.fields.seoTitle 
          meta(name='description', content= contentful.road[0].meta.fields.seoDescription)
  else
    title= title
    meta(name='description', content= description)